<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <title>Denise Meagher | Web Developer &amp; Designer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Questrial|Raleway:300,400" rel="stylesheet">
    <!--materialize icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--font awesome-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

    <% if stylesheet_exists_base_slug?(params[:slug]) %>
      <%= stylesheet_link_tag params[:slug] %>
    <% else %>
      <%= stylesheet_link_tag "site" %>
    <% end %>

    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>

  </head>

  <body>
      <%= yield %>
      <div class="javascript">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
        <% if javascript_exists_base_slug?(params[:slug]) %>
          <%= javascript_include_tag params[:slug] %>
        <% end %>
      </div>
  </body>
</html>